
.error-block {
    display: inline-block;

    background-color: #d10;
    border: none;
    border-radius: 0;
    padding: 7px 10px;
    margin: 5px 0 0;
}

.error-block p {
    color: #fff;
    font-weight: 600;
    font-size: .86666em;
    margin: 0;
}


.error-text {
    margin-top: 4px;
    font-weight: 600;
    font-size: .86em;
    color: #d10;
}

.error-text > p {
    margin: 0;
}

.error-block p, .error-text p {
    position: relative;
}

